@import "common/styles";

.container {
  @include card;
  @include center;
  background: #fafafa;
  border-style: dashed;
  min-height: 150px;
  color: #aaa;
  cursor: pointer;
  font-size: 20px;

  > svg {
    margin: 0 0 0 10px;
  }
}

.dialogContainer {
  .dialogAction {
    display: flex;
    padding: 0 10px 10px 10px;

    > *:not(:first-child) {
      margin-right: 5px;
    }
  }
}