.event {
    margin-bottom: 15px;
    width: calc(50% - 30px);
}

.marker {
  width: 16px;
  height: 16px;
  background-color: #263238;
  border-radius: 16px;
  margin: 0 10px 10px 0;

  &.markerLeft:before,
  &.markerRight:before {
    content: "";
    display: block;
    position: absolute;
  }

  &.markerLeft:before {
    right: 5px;
    border-top: 8px solid transparent;
    border-right: 16px solid #263238;
    border-bottom: 8px solid transparent;
  }

  &.markerRight:before {
    left: 5px;
    border-top: 8px solid transparent;
    border-left: 16px solid #263238;
    border-bottom: 8px solid transparent;
  }
}

.timeline {
  width: 2px;
  background: #aaa;
}
