@import "common/styles";

.container {
  width: 100%;
  @include center;
  flex-direction: column;
  padding: 50px 30px !important;

  .title {
    margin-bottom: 20px;
  }

  .desc {
    margin-bottom: 40px;
    font-size: 14px;
    color: #777;
  }

  .codeInput {
    direction: ltr;

    input {
      font-family: Vazir, serif;
    }
  }
}