import React from 'react';
import Head from 'next/head';

export default function {{pascalCase name}}Page() {
  return (
    <>
      <Head>
        <title>{{pascalCase name}}</title>
      </Head>
      <div />
    </>
  );
}