import Head from 'next/head';
import { NextPage } from 'next';

const {{pascalCase name}}Page: NextPage = () => (
  <>
    <Head>
      <title>{{pascalCase name}}</title>
    </Head>
    <div />
  </>
);

export default {{pascalCase name}}Page;
