@import "common/styles";

.layout {
  align-items: flex-end;
  padding-bottom: 0;

  .formSection {
    position: absolute;
    right: calc(20vw - 200px);
    height: 100%;
    @include center;

    > div {
      position: relative;
      bottom: 70px;
      @include bordered(1px, #bbb);
      @include rounded(8px);
      @include center;
      flex-direction: column;
      background: #f0f0f0;
      padding: 20px;
      height: 350px;
      margin: 40px;
      width: fit-content;
    }
  }

  .contextSection {
    width: 80vw;
    height: 100%;
    background-image: linear-gradient(to right, #000000F0, #00000000), url('sbuslide111.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;

    > div {
      color: #fff;

      h2 {
        font-size: 35px;
        font-weight: 900;
      }

      h3 {
        font-size: 22px;
        font-weight: 700;
      }

      p {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .contextSection {
    display: none !important;
  }

  .formSection {
    position: static !important;
    right: auto !important;
    width: 100%;
  }
}